<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.videobox">

    <application
        android:name=".AppAplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.videobox.main.MainActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".player.dailymotion.DaiyMotionPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />

        <provider
            android:name=".model.db.VideoBoxContentProvider"
            android:screenOrientation="portrait"
            android:authorities="com.videobox.data.db" />

        <activity android:name=".search.SearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"

            />

        <activity android:name=".player.youtube.YouTubePlayerActivity"
            android:screenOrientation="nosensor"
            android:configChanges="orientation|screenSize|keyboardHidden"
            >
            <meta-data android:name="@string/minVersion" android:value="11"/>
            <meta-data android:name="@string/isLaunchableActivity" android:value="true"/>
        </activity>

        <meta-data
            android:name="BUGLY_APPID"
            android:value="93ea534848" />
        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1.0" />
        <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="goolge_play" />
        <!-- 配置Bugly调试模式（true或者false）-->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true" />

    </application>

</manifest>